<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/static/stylesheet.css">
</head>
<body>
    <div class="attendanceList"> 
        <div class="header">
            <h1>Admin page</h1>
        </div>

        <div class="form">
            <div>
                <label for="fileExport">Export Attendance List:</label>
            </div>
            <div class="exportForm">
                {{ if .Msg.ExportedMessage }}
                    <p>{{ .Msg.ExportedMessage }}</p>
                {{ end }}
                <label for="fileType">Select File Type:</label>
                <select name="fileType" id="fileType">
                    <option value="json">JSON</option>
                    <option value="xml">XML</option>
                    <option value="csv">CSV</option>
                </select>
                <button class="exportButton" onclick="exportAttendance()">Export Attendance List</button>
            </div>
            <form class="loadForm" action="/admin/import" method="post" enctype="multipart/form-data">
                <div>
                    <label for="fileInput">Load Attendance List:</label>
                </div>
                <div class="fileInput">
                    <input type="file" name="file" accept=".csv, .json, .xml" required>
                </div>
                {{ if .Msg.LoadedMessage }}
                    <p>{{ .Msg.LoadedMessage }}</p>
                {{ end }}
                <div>
                    <button type="submit">Upload</button>
                    <button class="view" type="button" onclick="viewAttendance()">View attendance</button>
                </div>
            </form>
            <div>
                <button class="adminlogout" type="button" onclick="redirectToLogout()">Logout</button>
            </div>
        </div>
    </div>
    
    <script>
        function exportAttendance() {
            var fileType = document.getElementById("fileType").value;
            window.location.href = '/admin/export?fileType=' + fileType;
        }

        function viewAttendance() {
            window.location.href = '/admin/attendance';
        }

        function redirectToLogout() {
            window.location.href = '/logout';
        } 
    </script>
</body>
</html>