/* Styles for background and font */
body {
    background-color: #FDF2F7;
    font-family: 'Helvetica', sans-serif;
    color: #C21760;
    font-weight: bold;
}

/* Styles for page list appearance */
.attendanceList {
    background-color: #FAD9E7; 
    border-radius: 20px;
    width: 500px;
    height: 80vh;
    margin: 8vh auto 0;
    box-shadow: 5px 5px 5px lightgrey;
    overflow-y: auto;
}

.attendanceList::-webkit-scrollbar {
    width: 5px;
}

.attendanceList::-webkit-scrollbar-thumb {
    background-color: #FF2B85;
    border-radius: 6px;
}

.attendanceList::-webkit-scrollbar-track {
    background-color: #FDF2F7;
}

.header {
    display: flex;
    background-color: #FF2B85;
    color: #FDF2F7;
    border-radius: 20px 20px 0 0;;
    height: 100px;
    align-items: center;
    justify-content: center;
}

/* Styles for forms */
.form {
    margin: 50px auto 0;
    width: 310px;
   
    display: block;
}

.form input {
    padding: 5px;
    border: 1px solid #C21760;
    border-radius: 8px;
    width: 200px;
}

.username {
    margin-left: 10px;
}

.password {
    margin-left: 12px;
}

/* Styles for login form */
.login {
    width: 310px;
    height: 100px;
}

.logout {
    margin-left: 30px;
}

.user {
    margin-bottom: 10px;
}

.submit {
    margin-bottom: 20px;
}

.signup {
    margin-top: 0;
}

.sessInfo {
    width: 300px;
    margin: 100px auto 0;
}

.errorMessage {
    margin-bottom: 40px;
}

/* Styles for sign up form */
.name {
    margin-top: 10px;
}

#firstname {
    margin-left: 5px;
}

#lastname {
    margin-left: 6px;
}

/* Styles for admin export/import features */
.loadForm {
    margin-top: 20px;
}

.exportForm {
    margin-top: 20px;
}

.loadFile {
    width: 200px;
}

.fileInput {
    margin-top: 20px;
}

.exportButton {
    margin: 20px 0 20px 0;
}

.adminlogout {
    margin-top: 50px;
}

.view {
    margin-left: 45px;
}

/* Styles for attendance list */
.table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #C21760;
    font-size: 0.9rem;
}

tr:nth-child(even) {
    background-color: #FFD3E0;
}

tr:hover {
    background-color: #FFA6C9;
}

.exit {
    margin-bottom: 20px;
    margin-left: 400px;
}

/* Styles for buttons */
button {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: #FF2B85; 
    color: #FDF2F7;
    border: none;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #C21760;
}